* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family:'Montserrat', sans-serif;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px, 0px, 30px, 0px;
    text-align: center;
    font-size: 40px;
}

.pads{
    background-color: lightblue;
    width: 100%;
    display: flex;

}

.pads > div{
    height: 100px;
    width: 600px;
    flex: 1;
    transition:all 0.07s; 
    
    transition: all .07s ease;
}

.playing{
    transform:scale(1.1);
    border-color: #ff3000;
}


#pad1{
    background-color:#b892e4
}
#pad2{
    background-color:#e4e392
}
#pad3{
    background-color:#92a8e4
}
#pad4{
    background-color:#e492b8
}
#pad5{
    background-color:#b7e492
}
#pad6{
    background-color:#e49292
}

.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}
  

input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(153, 191, 230);
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    border-width: 0;
    transition: all .3s linear;
    }
    input[type="checkbox"]:checked{
      background-color: rgb(46, 159, 204);
    }
    input[type="checkbox"]:focus{
      outline: 0 none;
      box-shadow: none;
    }

    input[id="startStop"]{
        cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(41, 148, 255);
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 30px;
    height: 30px;
    border-width: 0;
    transition: all .3s linear;
    }
    input[id="startStop"]:checked{
      background-color: rgb(0, 183, 255);
    }
    input[id="startStop"]:focus{
      outline: 0 none;
      box-shadow: none;
    }

    input[type=range].slider {
        -webkit-appearance: none;
        width: 100%;
        margin: -1.25px 0;
      }
      input[type=range].slider:focus {
        outline: none;
      }
      input[type=range].slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 34.5px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #ffffff;
        border-radius: 0.1px;
        border: 0.1px solid #000101;
      }
      input[type=range].slider::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px rgba(40, 0, 62, 0.67), 0px 0px 0px rgba(56, 0, 88, 0.67);
        border: 2.8px solid #ffffff;
        height: 32px;
        width: 33px;
        border-radius: 2px;
        background: rgba(125, 188, 221, 0.79);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 1.15px;
      }
      input[type=range].slider:focus::-webkit-slider-runnable-track {
        background: #ffffff;
      }
      input[type=range].slider::-moz-range-track {
        width: 100%;
        height: 34.5px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #ffffff;
        border-radius: 0.1px;
        border: 0.1px solid #000101;
      }
      input[type=range].slider::-moz-range-thumb {
        box-shadow: 0px 0px 0px rgba(40, 0, 62, 0.67), 0px 0px 0px rgba(56, 0, 88, 0.67);
        border: 2.8px solid #ffffff;
        height: 32px;
        width: 33px;
        border-radius: 2px;
        background: rgba(125, 188, 221, 0.79);
        cursor: pointer;
      }
      input[type=range].slider::-ms-track {
        width: 100%;
        height: 34.5px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range].slider::-ms-fill-lower {
        background: #cfcfcf;
        border: 0.1px solid #000101;
        border-radius: 0.2px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type=range].slider::-ms-fill-upper {
        background: #ffffff;
        border: 0.1px solid #000101;
        border-radius: 0.2px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type=range].slider::-ms-thumb {
        box-shadow: 0px 0px 0px rgba(40, 0, 62, 0.67), 0px 0px 0px rgba(56, 0, 88, 0.67);
        border: 2.8px solid #ffffff;
        width: 33px;
        border-radius: 2px;
        background: rgba(125, 188, 221, 0.79);
        cursor: pointer;
        height: 32px;
      }
      input[type=range].slider:focus::-ms-fill-lower {
        background: #ffffff;
      }
      input[type=range].slider:focus::-ms-fill-upper {
        background: #ffffff;
      }